allow ueventd radio_data_file:dir search;
allow ueventd radio_data_file:file { read getattr open };
allow ueventd sysfs_bluetooth_writable:file { write open };
