on early-init
    mount debugfs debugfs /sys/kernel/debug
    symlink /data/tombstones /tombstones

on init
    loglevel 7

on fs
    # zRAM read only 1 page at a time
    write /proc/sys/vm/page-cluster 0
    # lower swappiness when using swap
    write /proc/sys/vm/swappiness 10

    # pvr module
    insmod /system/lib/modules/pvrsrvkm_sgx540_120.ko
    insmod /system/lib/modules/pvrsrvkm_sgx544_112.ko
    insmod /system/lib/modules/omaplfb_sgx540_120.ko
    insmod /system/lib/modules/omaplfb_sgx544_112.ko
    start pvrsrvinit

    # change permissions for ION driver
    chmod 0777 /dev/ion

    # Change permissions on the cmdline (this is for debug only)
    chmod 444 /proc/cmdline

    chown root system /proc/net/ip_conntrack

on post-fs
    # H264 Encoder Profile setting
    # 1 - Base Profile
    # 2 - Main Profile
    # 8 - High Profile
    setprop video.h264enc.profile 1

on post-fs-data
    # make dir for trace
    mkdir /cache/trace 0777 system system
    chmod 0777 /cache/trace

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # wifi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot
    disabled

# create filesystems if necessary
service setup_fs /system/bin/setup_fs \
    /dev/block/platform/omap/omap_hsmmc.1/by-name/cache \
    /dev/block/platform/omap/omap_hsmmc.1/by-name/userdata
    class core
    user root
    group root
    oneshot

###################################################
# MSHIELD SMC Daemon - component required to store persistent data coming
#   from the SMC PA to the device persistent storage
###################################################
service tf_daemon /system/bin/tf_daemon \
    -d -c /system/etc/smc_normal_world_android_cfg.ini
    class main
    user root
    group root
    oneshot
    disabled

###################################################
# MSHIELD SMC PA Control - installs the SMC PA into the Secure Environment
###################################################
service smc_pa /system/bin/smc_pa_ctrl \
    -c /system/etc/smc_normal_world_android_cfg.ini \
    start /vendor/firmware/smc_pa.ift
    class core
    user root
    group root
    oneshot

on property:init.svc.smc_pa=stopped
	start tf_daemon

